@model MyMvc.Database.Model.Countries

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

<h4>Countries</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CountryName" class="control-label"></label>
                <input asp-for="CountryName" class="form-control" />
                <span asp-validation-for="CountryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FormalName" class="control-label"></label>
                <input asp-for="FormalName" class="form-control" />
                <span asp-validation-for="FormalName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsoAlpha3Code" class="control-label"></label>
                <input asp-for="IsoAlpha3Code" class="form-control" />
                <span asp-validation-for="IsoAlpha3Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsoNumericCode" class="control-label"></label>
                <input asp-for="IsoNumericCode" class="form-control" />
                <span asp-validation-for="IsoNumericCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountryType" class="control-label"></label>
                <input asp-for="CountryType" class="form-control" />
                <span asp-validation-for="CountryType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LatestRecordedPopulation" class="control-label"></label>
                <input asp-for="LatestRecordedPopulation" class="form-control" />
                <span asp-validation-for="LatestRecordedPopulation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Continent" class="control-label"></label>
                <input asp-for="Continent" class="form-control" />
                <span asp-validation-for="Continent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Region" class="control-label"></label>
                <input asp-for="Region" class="form-control" />
                <span asp-validation-for="Region" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subregion" class="control-label"></label>
                <input asp-for="Subregion" class="form-control" />
                <span asp-validation-for="Subregion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastEditedBy" class="control-label"></label>
                <select asp-for="LastEditedBy" class ="form-control" asp-items="ViewBag.LastEditedBy"></select>
            </div>
            <div class="form-group">
                <label asp-for="ValidFrom" class="control-label"></label>
                <input asp-for="ValidFrom" class="form-control" />
                <span asp-validation-for="ValidFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValidTo" class="control-label"></label>
                <input asp-for="ValidTo" class="form-control" />
                <span asp-validation-for="ValidTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>
